<div class="input-container">
  <input [class.input]="true" placeholder="Type an expression" [(ngModel)]="userText" (keyup.enter)="calculate()" />
</div>
<div [ngSwitch]="loadState" class="text-big">
  <div *ngSwitchCase="LoadState.Error">
    {{error}}
  </div>
  <div *ngSwitchCase="LoadState.Calculating">
    Calculating...
  </div>
  <div *ngSwitchCase="LoadState.Ready">
    <div>
      <i>Postfix notation: </i>{{postfixedText}}
    </div>
    <div>
      <i>Result: </i>{{resultText}}
    </div>
  </div>
</div>
