<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    This is {{envName}} environment.
  </h3>
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>
    <h3>
      How it works?
    </h3>
    Type an expression
    <br/> Press [Enter]
    <br/> Get answer
  </div>
  <div>
    <h3>
      How it works under the hood?
    </h3>
    When you press [Enter], an app will send expression to a remote server that parses it and returns expression in postfix notation.
    <br/> The given postfix notation will be sent to another remote server that can calculate and return result.
    <br/>
    <br/> So there's in total 3 microservice applications:
    <br/>First one is a
    <b>client</b> app, another
    <b>infix-to-postfix</b> service, and the last one is
    <b>postfix-calculator</b> service.
    <br/> Pretty simple, isn't it?
  </div>
  <hr>
  <div>
    <h3>So let's try!</h3>
    <app-xcalculator></app-xcalculator>
  </div>
</div>
