<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <br/>
  <div>
    <h3>
      How it works?
    </h3>
    Type an expression
    <br/> Press [Enter]
    <br/> Get answer
  </div>
  <div>
    <h3>
      How it works under the hood?
    </h3>
    When you press [Enter], an app will send expression to a remote server that parses it and returns expression in postfix notation.
    <br/> The given postfix notation will be sent to another remote server that can calculate and return result.
    <br/> So there's in total 3 microservice applications: 
    <br/>One is an app itself (frontend), another expression-to-postfix service,
    and the last one postfix-notation-calculator service.
    <br/> Pretty simple, isn't it?
  </div>
  <div>
    <h3>So let's try!</h3>
    <app-calculator></app-calculator>
  </div>
</div>

